<div class="col-md-10 blogShort">
    <h1>{{product.title}}</h1>
    <img src="{{product.img}}" alt="post img" style="height:200px">
    <article>
        <p>
            {{product.price}}
        </p>
        <a href="/"  type="button" class="btn btn-primary" >Voltar</a>
    </article>
</div>